/*#initArea {
	display: none;
}

#page {
	display: none;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("/img/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.headsize {
	padding-top: 7em;
	padding-bottom: 1em;
}

.bg-primary {
	background-color: #FF5A60 !important;
}

.mobile-hide {
	display: none;
}

.nonmobile-hide {
	display: block;
}

.center {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.startform {
	width: 100%;
	display: block;
	margin: auto;
	padding: 5px;
	text-align: center;
}

.random {
	margin: 10px;
	height: 30px;
	width: 120px;
	padding: 2px;
	background-color: black;
}

.right-header {
	float: right;
	color: gray;
}

.inv_input {
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 22em;
}

.form-control-static {
	min-height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
}

.form-control-static.input-lg,
.form-control-static.input-sm {
	padding-right: 0;
	padding-left: 0;
}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

select.input-sm {
	height: 30px;
	line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
	height: auto;
}

.form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.form-group-sm select.form-control {
	height: 30px;
	line-height: 30px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
	height: auto;
}

.form-group-sm .form-control-static {
	height: 30px;
	min-height: 32px;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 1.5;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well blockquote {
	border-color: #ddd;
	border-color: rgba(0, 0, 0, .15);
}

.well-lg {
	padding: 24px;
	border-radius: 6px;
}

.well-sm {
	padding: 9px;
	border-radius: 3px;
}

.message-well {
	margin-bottom: 8px !important;
}


.online-users {
	padding: 5px !important;
	height: 140px;
	width: 270px;
	overflow: scroll;
}

.invite-button {
	height: 90px;
	width: 90px;
}

.noscrollbar {
	overflow-y: scroll;
}

.noscrollbar::-webkit-scrollbar {
	display: none;
}

.form-group {
	margin-bottom: 15px;
}

.video {
	position: relative;
	z-index: 102;
}

#persoff {
	background: #000;
	opacity: 0.9;
	filter: alpha(opacity=90);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 13440px;
	position: relative;
	top: 0;
	left: 0;
}

.vid-item {
	display: block;
	width: 148px;
	height: 170px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow: hidden;
	height: 110px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top: 5px;
}

.arrows {
	position: relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -130px;
	z-index: 99;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -130px;
	z-index: 100;
	cursor: pointer;
}

@media (max-width: 624px) {
	.arrows {
		position: relative;
		margin: 0 auto;
		width: 96px;
	}

	.arrow-left {
		top: -20px;
	}

	.arrow-right {
		top: -20px;
	}
}

.topbotmargins {
	margin-top: 10px;
	margin-bottom: 10px;
}



.ghost-button-full-color {
	float: right;
	display: inline-block;
	width: 25px;
	padding-bottom: 10px;
	color: #000;
	background-color: transparent;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.ghost-button-full-color:hover,
.ghost-button-full-color:active {
	background-color: #e05555;
	border-color: #e05555;
	color: #fff;
	transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.hide {
	display: none;
} */



/* MY CSS */
html {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

#roomArea {
	display: none;
}

div.hero-header.brand-logo {
	margin-left: 24px;
}

a.brand-logo {
	font-size: 26px;
	text-rendering: optimizeLegibility;
	color: #5f6368;
	font-style: normal;
	font-weight: 400;
}

div.hero-header nav {
	background-color: #ffffff;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
	margin: 0;
	padding: 0;
}

nav img {
	vertical-align: middle;
}

div#master-banner {
	height: calc(100vh - 64px);
	padding: 0;
	margin: 0;
}

div#banner {
	background-color: #f8f9fa;
	min-height: calc(100vh - 64px);
	background-image: url('../img/backgrounds/hero-desktop.jpg');
	position: absolute;
	left: 0;
	right: 0;
	top: 64px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
}

div.valign-wrapper {
	height: 67vh;
}

div#tagline {
	max-width: 360px;
}

div#heading h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 100%;
	margin: 5px 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

div#sub-heading h2 {
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 100%;
	margin: 5px 0;
	padding: 0;
	color: #fff;
}

div#roomid {
	display: none;
}

div.video-container {
	width: calc(100vw - 317px);
	height: 100vh;
	display: inline-block;
	margin: 0;
	padding: 0;
}

div#HTML5Area {
	width: calc(100vw - 317px);
	height: 100vh;
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.html5player {
	width: calc(100vw - 317px);
	height: 100vh;
	display: inline-block;
	margin: 0;
	padding: 0;
}

video#html5src {
	width: 	calc(100vw - 317px);
	height: 100vh;
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.chat-container {
	width: 300px;
	height: 100vh;
	max-height: 100vh;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}

div#messageArea {
	width: 100%;
	max-height: 100vh;
	height: 100vh;
	background-color: #424242;
	color: #fff;
}

ul.chat {
	width: 100%;
	height: calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	background-color: #424242;
	color: #fff;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	scrollbar-width: none;
}

ul.chat li.collection-item {
	width: calc(100% - 28px);
	background-color: #424242;
	color: #fff;
	padding: 0;
	margin: 25px 28px;
	border: none;
}

span.message-username {
	color: #63a4ff;
	display: inline-block;
	font-weight: 900;
	font-size: 18px;
	margin-right: 15px;
}

span.message-time {
	color: #e0e0e0;
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
}

span.message-content {
	color: #fff;
	display: block;
	font-size: 14px;
}

form#messageForm {
	margin: 0;
	padding: 0 14px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top: 1px solid white;
	height: 70px;
	background-color: #6d6d6d;
	width: 100%;
}

form#messageForm input {
	color: #fff;
	background-color: #6d6d6d;
	height: 70px;
}

span.message-header {
	font-size: 18px;
	font-weight: 900;
}

.btn {
	color: #fff;
	background-color: #1976d2;
}

.btn:hover {
	background-color: #63a4ff;
}

.btn:focus {
	background-color: #004a9f;
}

div.change-video {
	margin-top: 25px;
}

div.change-video-input {
	display: inline-block;
}

div.change-video-button {
	width: 155px;
	display: inline-block;
}
